# ---- R ----
.Rhistory
.Rdata
.RData
.Rproj.user
*.Rproj

# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/

# ---- Datos pesados ----
*.bam
*.bai
*.vcf.gz
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bed
*.bigwig
*.h5ad
*.h5

# ---- Archivos de sistema ----
.DS_Store
Thumbs.db
desktop.ini
*~

# ---- Editores ----
.vscode/
.idea/
*.swp
*.swo

# ---- Archivos temporales ----
tmp/
temp/
*.tmp
*.log
